<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta charset="utf-8">
</head>
<body style="background-color: rgb(240,240,240); font-family: Lucida Grande;" bgcolor="rgb(240,240,240)">
  <div class="main" style="padding-top: 0px; border-radius: 5px; background-color: white; margin: 30px 80px; border: 2px solid rgb(184,184,184); margin-top: 20px;">
    <h1 style="text-align: center; border-radius: 5px 5px 0px 0px; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: rgb(184,184,184); margin: 0px 20px 15px; padding: 15px 20px;" align="center"><%= image_tag 'http://currencyofhappiness.com/wp-content/uploads/2013/10/LPL_logo_transpBG.png', width: "300px" %></h1>
    <div class="body" style="padding: 0px 20px 30px;">
    <h2 style="text-align: center;" align="center"><%= @project.name %> Updates</h2>
    <h4>What have you accomplished this week on <%= @project.name %>?</h4>
    <p>Follow <%= link_to "this link", ENV['ROOT_URL'] + '/projects/' + @project.id.to_s + '/status_updates/new' %> to share your progress on <%= @project.name %> with everyone at <%= @project.company.name %>.</p>
    <p>Good Work!</p>
    </div>
  </div>

</body>
</html>
