<h1 class="company_name"><%= @company.name %></h1>

<% if current_user %>

	<div class="projects clearfix">
		<% @projects.each do |project| %>
			<div class="project">
				<h3><%= link_to project.name, project %><span><%= link_to "✕", project, method: :delete, data: { confirm: 'Delete this project? You will lose all related updates.' }, :class => "project_destroy" %></span></h3>
				<h4><%= project.team_lead.username %></h4>
				<%= form_for(StatusUpdate.new) do |f| %>
					<%= f.hidden_field :project_id, value: project.id %>
					<%= f.hidden_field :user_id, value: current_user.id %>
					<%= f.text_field :description, placeholder: 'update' %>
				<% end %>
				<div class="status_updates">
					<% project.status_updates.by_created_on.each do |status_update| %>
						<div class="status_update">
							<%= status_update.description %>
							<div class="status_update_meta">
								<span class="date"><%= time_ago(status_update.created_at) %></span> &middot;
								<span class="username"><%= status_update.user.username if current_user %></span>
							</div>
						</div>
					<% end %>
				</div>
			</div>
		<% end %>
		<div class="project new_project">
			<%= form_for(Project.new) do |f| %>
				<%= f.text_field :name, placeholder: 'Add a new project' %>
			<% end %>
		</div>
	</div>

<% else %>
	<div class="text-center">
		<h4>Join this company by signing into Github</h4>
		<%= link_to "Sign in with Github", omniauth_authorize_path(User, "github"), class: 'button' %>
	</div>

<% end %>
