<h1><%= @company.name %></h1>

<div class="projects">
	<% @projects.each do |project| %>
		<div class="project">
			<h3><%= project.name %></h3>
			<%= form_for(StatusUpdate.new) do |f| %>
				<%= f.hidden_field :project_id, value: project.id %>
				<%#= f.hidden_field :user_id, value: current_user.id %>
				<%= f.text_field :description %>
			<% end %>
			<div class="status_updates">
				<% project.status_updates.by_created_on.each do |status_update| %>
					<div class="status_update">
						<%= status_update.description %>
						<div class="status_update_meta">
							<span class="date"><%= time_ago(status_update.created_at) %></span> &middot;
							<span class="email">scottweisman<%#= current_user.email if current_user %></span>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	<% end %>
</div>